html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(15 23 42);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    font-size: xx-large;
    margin-top: 20px;
}

header img {
    width: 200px;
    height: auto;
}

#main {
    display: flex;
    flex-direction: column;
}

#driversToChoose,
#teamsToChoose {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(auto, auto);
    max-width: 1000px;
    width: max-content;
    height: max-content;
}

.drivers,
.team {

    border: 1px black;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;

}

.screen {
    margin-top: 10px;
    text-align: center;
    display: none
}

.screen :first {
    display: block
}


#show {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#raceInfo {
    padding: 20px;
    font-weight: bolder;
}

#position div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(51 65 85);
    border-top: 1px solid white;
}



#position * a {
    text-align: left;
    margin-left: 20px;

}


#teamClasification,
#driverClasification {
    margin-right: 20px;
    margin-left: 20px;
    width: 25rem;

}

#teamClasification div,
#driverClasification div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(51 65 85);
    border-top: 1px solid white;
}

#show * div:first-child {
    text-decoration: underline;
    background-color: rgb(15 23 42);
    border-top: none;
}

#position div:last-child,
#show * div:last-child {
    background-color: rgb(51 65 85);
    border-bottom: 1px solid white;
}

button {
    align-items: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: medium;
    padding: 10px;
    margin-top: 20px;
}

#race img,
#btnClasification img {
    width: 50px;
    height: auto;
}

#finalResult {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: rgb(51 65 85);
    padding: 20px;
    border-radius: 10px;
}

#close {
    width: 20px;
    height: auto;
}

#finalResult div {
    display: flex;
    color: darkgray;
    justify-content: space-between;
    margin-bottom: 50px;
}